!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Default
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %header
    .pos-f-t
      #navbarToggleExternalContent.collapse
        .bg-dark.p-4
          - if user_signed_in?
            = link_to 'プロフィール編集',edit_user_registration_path,class: "btn btn-warning"
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-danger"
            -# = current_user.user_name
          - else
            = link_to 'アカウント登録', new_user_registration_path, class: "btn btn-success"
            = link_to 'ログイン', new_user_session_path, class: "btn btn-info"
      %nav.navbar.navbar-dark.bg-dark
        %button.navbar-toggler{"aria-controls" => "navbarToggleExternalContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarToggleExternalContent", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
    

  .container
    = yield
